DJANGO_SECRET_KEY=replace-with-secure-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# PostgreSQL (Docker local / produccion)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=cipriano_festival
DB_USER=cipriano
DB_PASSWORD=cipriano123
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60

# Si quieres volver a SQLite local, usa:
# DB_ENGINE=django.db.backends.sqlite3
# DB_NAME=db.sqlite3
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=

USE_X_FORWARDED_HOST=1
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0

ADMIN_ACTIONS_PIN=1234
ADMIN_OVERRIDE_PIN=1234
DEFAULT_FESTIVAL_KITCHEN_PIN=1111
DEFAULT_FESTIVAL_SALES_PIN=2222
DEFAULT_FESTIVAL_SECONDARY_SALES_PIN=2323
DEFAULT_FESTIVAL_BATCHES_PIN=3333
DEFAULT_CIPRIANO_CAJALOCAL_PIN=2211
DEFAULT_CIPRIANO_CAJAOPERACION_PIN=2212
DEFAULT_CIPRIANO_ADMINISTRADOR_PIN=2299
DEFAULT_CIPRIANO_OPERADOR_PIN=2288
DEFAULT_CIPRIANO_SOCIO_PIN=2277
DEFAULT_BURGERS_KITCHEN_PIN=4444
DEFAULT_BURGERS_SALES_PIN=5555
DEFAULT_BURGERS_SECONDARY_SALES_PIN=5656
DEFAULT_BURGERS_BATCHES_PIN=6666
DEFAULT_DON_CAJALOCAL_PIN=5511
DEFAULT_DON_CAJAOPERACION_PIN=5512
DEFAULT_DON_ADMINISTRADOR_PIN=5599
DEFAULT_DON_OPERADOR_PIN=5588
DEFAULT_DON_SOCIO_PIN=5577
DEFAULT_ADMIN_LOGIN_PIN=9999
AUTH_SESSION_MINUTES=480
